<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">User Study Tool</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li ><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome <%= name %> </a></li>
    </ul>
  </div>
</nav>