<h1 class="mt-4">Task 1</h1>

<div class="container bg-light text-dark">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th></th>
            </tr>
    </table>
</div>