<h1 class="mt-4"><%= task.title %> of <%= expid %></h1>
<html>
<body>

<p>Once you click "Start". The time limit is 10 seconds.</p>

<button onclick="setTimeout(myFunction, 10000);">Attempt</button>

<script>
function myFunction() {
  alert('Your session has ended');
}
</script>

</body>
</html>
<div class="container bg-light text-dark">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th></th>
            </tr>
    </table>

    <div>Description</div>
    <div><pre>Perform 1
        Perform 2
        Perform 3
        Perform 4
    </pre></div>

    
</div>




