<h1 class="mt-4"><%= task.title %> of <%= expid %></h1>
<div class="container bg-light text-dark">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th></th>
            </tr>
    </table>

    <div>Do the following within 10 seconds. Submit and return to the experiment page after the time limit or upon completion.</div>
    <html>


<body>

<p>Once you click "Start". The time limit is 10 seconds.</p>

<button onclick="setTimeout(myFunction, 10000);">Start</button>

<script>
function myFunction() {
  alert('Your time has ended, please submit.');
}
</script>

</body>
</html>
    <div><pre>
        Perform 1
        Perform 2
        Perform 3
        Perform 4
    </pre></div>

<button id="confirm" type="button" class="btn btn-primary" onclick="window.location = '../../../'; " >Submit</button>
    
</div>




