<h1 id="heading" data-title="<%= task.id %>" class="mt-4"><%= task.id %> of <%= expid %></h1>
<div class="container bg-light text-dark">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th></th>
            </tr>
    </table>

    <div>Do the following within 10 seconds. Submit and return to the experiment page after the time limit or upon completion.</div>
    <html>


<body>

<p>Once you click "Start". The time limit is 10 seconds.</p>

<button onclick="setTimeout(myFunction, 10000);">Start</button>

</body>

</html>
    <div><pre>
        <%= task.description %>
    </pre></div>

    <button id="confirm" type="button" class="btn btn-primary" onclick="window.location = '../tasks'; " >Submit</button>
    
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  
<script type="text/javascript">

    $(document).ready(function () {
        var taskID = $('#heading').data('title');
        if (window.sessionStorage) {
            sessionStorage.setItem("taskID", taskID);
        }
    })

    function myFunction(){
        alert('Your time is finished');
    }
  </script>



