<h1 class="mt-4"><%= task.title %> of <%= expid %></h1>

<div class="container bg-light text-dark">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th></th>
            </tr>
    </table>

    <div>Description</div>
    <div><pre>Perform 1
        Perform 2
        Perform 3
        Perform 4
    </pre></div>

    
</div>