<h1 class="mt-4">Tasks</h1>

<div class="container bg-light text-dark">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Task</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <% for (var i = 0; i < table.length ; i++) { %>
        <tr>
            <td> <%= table[i].title %></td>
            <td><button id="complete" type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal"> Attempt Task </button></td>
        </tr>
        <% }; %>
        </tbody>
    </table>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> Do you want to continue with the task?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <%= console.log(expID);  %>
        <% for (var j = 1; j < table.length; j++) { %>
          <a class="btn btn-primary" href="/experiments/<%= expID  %>/task/<%= table[j].title %>" > Confirm </a>
        <% }; %>
      </div>
    </div>
  </div>
</div>

<button id="complete" type="button" class="btn btn-primary" data-toggle="modal" data-target="#conmpleteModal"> Tasks Completed </button>

<div class="modal fade" id="conmpleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p> Are you sure you have completed all tasks? </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button id="confirm" type="button" class="btn btn-primary" onclick="window.location = '../'; " >Confirm</button>
        </div>
      </div>
    </div>
</div>

